@use "../../styles/breakpoints" as *;

.Menu {
  background-color: var(--color-secondary);
  height: calc(100% - var(--nav-height));
  width: 100%;
  padding: 2rem;
  position: absolute;
  top: var(--nav-height);
  left: 0;
  z-index: 9;
  transition: all 0.5s ease-in-out;
  border-bottom: 0.1rem solid var(--color-primary);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  overflow-y: hidden;

  &.collapsed {
    overflow: hidden;
    transform: translateY(calc(-100% - 5rem));
  }

  @media screen and (min-width: $breakpoint-md) {
    display: none;
  }

  >.MenuItem {
    height: 3rem;
    width: 75%;
  }
}

.DesktopMenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: .5rem;

  >.MenuItem {
    padding: .25rem .5rem .25rem .5rem;
  }

  @media screen and (max-width: $breakpoint-md) {
    display: none;
  }
}

.MenuItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border-radius: .25rem;

  &:hover {
    cursor: pointer;
    background-color: var(--color-secondary-darker);
  }

  &.selected {
    cursor: default;
    background-color: var(--color-secondary-darker);
    pointer-events: none;
  }
}
