@import 'node_modules/modern-normalize/modern-normalize.css';
@import "src/components/SVG/index.scss";

:root {
  $primary: #54982F;
  --color-primary: #54982F;
  --color-primary-darker: #{darken($primary, 5%)}; 
  --color-primary-darkest: #{darken($primary, 10%)};
  --color-secondary: #F9E6ED;
  $secondary: #F9E6ED;
  --color-secondary-darker: #{darken($secondary, 5%)};
  --color-secondary-darkest: #{darken($secondary, 10%)};
  --nav-height: 3rem;
}

body {
  color: var(--color-primary);
  background: var(--color-secondary);
  height: 100vh;
}

#__next {
  height: 100vh;
}

* {
  font-family: var(--font-cutive-mono);
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-ubuntu-mono);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5 rem;
}

h4 {
  font-size: 1.25 rem;
}

h5 {
  font-family: var(--font-cutive-mono);
  font-size: 1rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

nav {
  height: var(--nav-height);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--color-secondary);
}

main {
  padding-top: var(--nav-height);
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100%;
  width: 100%;
  max-width: 40rem;
  align-self: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: .5rem;
}

.hidden {
  height: 0 !important;
  width: 0 !important;
  opacity: 0 !important;
}
