@use "../../styles/breakpoints" as *;

.Navbar {
  border-bottom: solid .05rem var(--color-primary);
  padding: .25rem;
  margin-left: .5rem;
  margin-right: .5rem;
  width: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  >h5 {
    align-self: flex-end;
    position: relative;
    margin-left: 1.25rem;
  }
}

.MenuIconWrapper {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  transition: all .25s ease-in-out;
  border-radius: .25rem;

  &:hover {
    cursor: pointer;
    background-color: var(--color-secondary-darker);
  }
}

.MenuIcon {
  stroke-width: .05rem;

  &.OpenIcon {
    transform: scale(.8, 0.667);
  }

  &.CloseIcon {
    transform: scale(.75, 0.5);
  }
}

@media screen and (min-width: $breakpoint-md) {
  .MobileMenuButton {
    display: none;
  }  
}

.LogoOrnament {
  position: absolute;
  top: -.75rem;
  left: -1.25rem;
  width: 1.5rem;
  height: 1.5rem;
}
